#nine {
    display: flex;
    flex-wrap: wrap;
}
[id], article {
    font-family: monospace;
    white-space: pre-line;
    margin: 5px;
}
#nine span {
    padding: 5px;
}
button {
    min-width: 3rem;
    padding: 5px;
    margin: 5px;
}